<header>
    <nav>
        <ul>
            <li class="left"><img src="{{ asset('img/logo.png') }}"></li>
            {{ render(controller('AppBundle:Default:searchBar')) }}


            <li class="right">
                <form action="{{ path('logout') }}" method="post">
                    <button class="btn-red" type="submit">Déconnexion</button>
                </form>
            </li>
            {{ render(controller('AppBundle:Default:menu')) }}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="right">
                    <form action="{{ path('admin') }}" method="post">
                        <button class="btn-red" type="submit">Admin</button>
                    </form>
                </li>

            {% endif %}
        </ul>
    </nav>
</header>