{% extends "templates/layout.html.twig" %}
{% block content %}
    <div class="container">
        <a class="download" href="{{ path('app_film_new') }}">Ajouter un film <i class="fa fa-plus"></i></a>
        {% for film in films %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="title">{{ film.title }}</span>
                    <a href="{{ path('film-delete', {'id': film.id}) }}">
                        <span class="badge badge-pill badge-danger actions">X</span>
                    </a>
                    <a href="{{ path('film_edit', {'id': film.id}) }}" target="_blank">
                        <span class="actions"><i class="fa fa-spinner"></i>Modifier</span>
                    </a>
                    <a href="{{ asset('uploads/brochures/' ~ film.brochure) }}" target="_blank">
                        <span class="actions"><i class="fa fa-upload"></i>Brochure</span>
                    </a>
                    <a href="{{ path('film-view', {'id': film.id}) }}" target="_blank">
                        <span class="actions"><i class="fa fa-file"></i>Fiche</span>
                    </a>
                </li>
            </ul>
            <hr>
        {% endfor %}
    </div>
{% endblock %}