{% extends "templates/layout.html.twig" %}
{% block content %}
    <div class="container user">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
            {{ form_label(form.firstname) }}
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname) }}
        </div>
        <div>
            {{ form_label(form.lastname) }}
            {{ form_errors(form.lastname) }}
            {{ form_widget(form.lastname) }}
        </div>
        <div>
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div>
            {{ form_label(form.password) }}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
        </div>
        <div>
            {{ form_label(form.memberid) }}
            {{ form_errors(form.memberid) }}
            {{ form_widget(form.memberid) }}
        </div>
        {{ form_end(form) }}
    </div>
    <a class="back" href="{{ path('profil') }}" style="margin-left: 50px">Retour</a>
{% endblock %}