<html>
<head>
    <meta charset="utf-8"/>
    <title>Films</title>
</head>
<body>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div>
        {{ form_label(form.firstname) }}
        {{ form_errors(form.firstname) }}
        {{ form_widget(form.firstname) }}
    </div>
    <div>
        {{ form_label(form.lastname) }}
        {{ form_errors(form.lastname) }}
        {{ form_widget(form.lastname) }}
    </div>
    <div>
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div>
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
        {{ form_widget(form.password) }}
    </div>
    {{ form_end(form) }}
</body>
</html>